<header>
  <a class="user-icon" href="#/settings">
    <img ng-src="./img/user-inactive.png" alt="user" />
  </a>
  <a class="logo">
    <img ng-src="./img/logo.png" alt="logo"/>
  </a>
</header>
<section class="container-appointments">
  <div class="add-new">
    <p>Add a new appointment here</p>
    <a href="#/appointments/add" class="add-button">
      <img src="./img/add.png" alt="add-button"/>
    </a>
  </div>
  <h2>Appointments</h2>
  <div class="appointment" ng-repeat="appt in model.appts">
    <label>Client Name</label>
    <label>Amount</label>
    <p>{{ appt.client }} </p>
    <p>${{ appt.amount }} </p>
    <label>Service</label>
    <p>{{ appt.note }} </p>
    <button
        class="delete-appt-btn"
        ng-click="model.deleteAppointment(model.appts[$index].id)">
      <img src="./img/circle-close-btn.png" alt="remove" />
    </button>
  </div>
</section>
<footer>
  <nav>
    <a href="#/home">
      <i class="fa fa-home" aria-hidden="true"></i>
      <small>Home</small>
    </a>
    <a href="#/expenses">
      <i class="fa fa-usd" aria-hidden="true"></i>
      <small>Expenses</small>
    </a>
    <a href="#/appointments" class="active">
      <i class="fa fa-calendar-o" aria-hidden="true"></i>
      <small>Appointments</small>
    </a>
  </nav>
</footer>