<header>
    <a class="user-icon" href="#/settings">
        <img ng-src="./img/user-inactive.png" alt="user" />
    </a>
    <a class="logo">
        <img ng-src="./img/logo.png" alt="logo"/>
    </a>
</header>
<section class="container-expenses">
    <div class="add-new">
        <p>Add a new expense here</p>
        <a href="#/expenses/add" class="add-button">
            <img src="./img/add.png" alt="add-button"/>
        </a>
    </div>
    <h2>Expenses</h2>
    <ul class="expense">
        <!--<li ng-repeat="expType in model.expenseTypes">{{expType.name}}<span></span></li>-->
        <li ng-repeat="expense in amounts">
            {{expense[$index]}}
            <span>{{expense[$index].total}}</span>
        </li>
    </ul>
</section>
<footer>
    <nav>
        <a href="#/home">
            <i class="fa fa-home" aria-hidden="true"></i>
            <small>Home</small>
        </a>
        <a href="#/expenses" class="active">
            <i class="fa fa-usd" aria-hidden="true"></i>
            <small>Expenses</small>
        </a>
        <a href="#/appointments">
            <i class="fa fa-calendar-o" aria-hidden="true"></i>
            <small>Appointments</small>
        </a>
    </nav>
</footer>