<header>
    <a class="user-icon" href="#/settings">
        <img ng-src="./img/user-inactive.png" alt="user" />
    </a>
    <a class="logo">
        <img ng-src="./img/logo.png" alt="logo"/>
    </a>
</header>
<section class="container-home">
    <p>Cumulative Net Income:</p>
    <div class="home-buttons">
        <a href="#/home/month">
            <button class="active">Mo</button>
        </a>
        <a href="#/home/year">
            <button>Y</button>
        </a>
        <a href="#/home">
            <button>YTD</button>
        </a>
    </div>
    <canvas id="monthlyChart"></canvas>

    <div id="monthContainer"
         style="min-width: 310px; height: 400px; max-width: 800px; margin: 0 auto">
    </div>

    <div class="home-more-info">
        <small>Deductions</small>
        <span class="large">$173</span>
        <span class="large" ng-bind="income"></span>
    </div>
    <div class="home-more-info">
        <small>Next Tax Payment</small>
        <span class="large">$928</span>
        <span class="large" ng-bind="tax"></span>
        <small>due on March 28, 2018</small>
    </div>
</section>
<footer>
    <nav>
        <a href="#/home" class="active">
            <i class="fa fa-home" aria-hidden="true"></i>
            <small>Home</small>
        </a>
        <a href="#/expenses">
            <i class="fa fa-usd" aria-hidden="true"></i>
            <small>Expenses</small>
        </a>
        <a href="#/appointments">
            <i class="fa fa-calendar-o" aria-hidden="true"></i>
            <small>Appointments</small>
        </a>
    </nav>
</footer>
