<header>
    <a class="user-icon" href="#/settings">
        <img ng-src="./img/user-inactive.png" alt="user" />
    </a>
    <a class="logo">
        <img ng-src="./img/logo.png" alt="logo"/>
    </a>
</header>
<section class="container-login">
    <div>
        <h2>Beauty Books</h2>
        <a ng-click="model.login($event)" id="login-facebook">
            <button>
                <img class="social-icon" ng-src="./img/facebook-icon.png" alt="fb-logo"/>
                Login with Facebook
            </button>
        </a>
        <a ng-click="model.login($event)" id="login-google">
            <button>
                <img class="social-icon" ng-src="./img/google-icon.png" alt="gmail-logo"/>
                Login with Google
            </button>
        </a>
        <!--<a ng-click="model.login($event)" id="login-google">-->
            <!--<button>-->
                <!--<img class="social-icon" ng-src="./img/google-icon.png" alt="gmail-logo"/>-->
                <!--Login with Google-->
            <!--</button>-->
        <!--</a>-->
    </div>
</section>
<!-- TABS FOR THE NAV -->
<footer>
    <nav>
        <a href="#/home">
            <i class="fa fa-home" aria-hidden="true"></i>
            <small>Home</small>
        </a>
        <a href="#/expenses">
            <i class="fa fa-usd" aria-hidden="true"></i>
            <small>Expenses</small>
        </a>
        <a href="#/appointments">
            <i class="fa fa-calendar-o" aria-hidden="true"></i>
            <small>Appointments</small>
        </a>
    </nav>
</footer>
