<header>
  <a class="user-icon" href="#/settings">
    <img ng-src="./img/user-active.png" alt="user" />
  </a>
  <a class="logo">
    <img ng-src="./img/logo.png" alt="logo"/>
  </a>
</header>
<section class="container-settings">
  <h2>User Profile</h2>
  <label>Name</label>
  <input type="text" disabled ng-model="model.user.name">
  <!-- Name pulled from Fb/Gmail -->
  <label>Email</label>
  <!--<input type="text" disabled ng-model="user.email">-->
  <input type="text" disabled ng-model="model.user.email">
  <!-- Email pulled from Fb/Gmail -->
  <label>Tax Profile</label>

</section>

<footer>
  <nav>
    <a href="#/home">
      <i class="fa fa-home" aria-hidden="true"></i>
      <small>Home</small>
    </a>
    <a href="#/expenses">
      <i class="fa fa-usd" aria-hidden="true"></i>
      <small>Expenses</small>
    </a>
    <a href="#/appointments">
      <i class="fa fa-calendar-o" aria-hidden="true"></i>
      <small>Appointments</small>
    </a>
  </nav>
</footer>
